.b1-headerblock{
    background-color: rgb(80, 83, 83);
    padding-left: 100px;
    margin-left: -50px;
    margin-top:-10px;
    padding-top: 20px;
    font-family: 'Roboto Slab' ;
    font-size: 20px;
    padding-bottom: 20px;
    color: white;
}
.b1-bookinfoflex{
    display: flex;
    flex-direction: row;
    padding-bottom: 50px;
}
.b1-image{
    width:400px;
    margin-left: 100px;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.567);

}
.b1-bookinfo{
    padding-top: 50px;
    margin-left: 60px;
    font-family: 'Ubuntu';
    font-size: 45px;

}
.b1-buyinggrid{
    margin-left: 80px;
    border-left: 2px solid rgba(0, 0, 0, 0.129);

}
.b1-clubbbooks{
    display: inline-block;

}
.b1-homeiconpic{
    width: 30px;
    position: absolute;
    margin-top: -15px;
    right: 30px;
    

}
.b1-headerblock{
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
}
.b1-author{
    font-size: 35px;
    margin-top: 35px;
    color: #0067ab;
}
.b1-date{
    margin-top: 10px;
    font-size: 30px;
    opacity: 0.7;
}
.b1-pageno{
    font-size: 30px;
    opacity: 0.8;
    margin-top: 20px;
}
.b1-price{
    display: block;
    margin-left: 100px;
    margin-right:20px;
    font-size: 25px;
    margin-top: 250px;
    padding: 10px 66px 10px 66px;
    border-radius: 10px;
    background-color: #0499fc;
    border-width: 0px;
    color: white;
    cursor: pointer;
}
.b1-sample{
    margin-top: 30px;
    font-size: 25px;
    margin-left: 100px;
    padding: 10px 65px 10px 65px;
    border-radius: 10px;
    border-color: #373737 solid;
    border-width: 1px;
    color: #0067ab;
    background-color: white;
    cursor: pointer;
}
.b1-bookname{
    font-weight: bold;
}
.star-rating {
    direction: rtl;
    display: inline-block;
}
.star-rating input[type="radio"] {
    display: none;
}
.star-rating label {
    font-size: 5rem;
    color: #ccc;
    cursor: pointer;
}
.star-rating input[type="radio"]:checked ~ label {
    color: #0499fc;
}
.star-rating label:hover,
.star-rating label:hover ~ label {
    color: #0499fc;
}
.b1-rating{
 margin-left: 100px;
 margin-bottom: 50px;
}
.b1-ratethis{
    font-size: 40px;
    color: #0067ab;
}
.b1-buying a{
    text-decoration: none;
}
.b1-limited{
    margin-left: 50px;
    font-size: 30px;
}
.b1-Aboutthisbook{
    font-size: 30px;
    margin-left: 120px;
    margin-top: 50px;
    margin-right: 100px;
    margin-bottom: 50px;
}
.b1-bookinformation{
    font-size: 30px;
    margin-left:60px;
    margin-bottom: 70px;
}