.second5{
    color: white;
}
.c-contact{
    color: rgb(223, 223, 223);
    margin-top: 120px;
    font-size: 50px;
    font-weight: 700;
    margin-left: 100px;

}
.c-connectplatform{
    width: 100px;
    margin-left: 5px;
    margin-top: 50px;
    margin-bottom: 10px;
}
.c-contact a{
    text-decoration: none;
}
.c-conname{
    font-size: 27px;
    margin-left: 30px
}