p {
    margin-top: 0;
    margin-bottom: 0;
    color: aliceblue;
}

.Titlebox {
    color: aliceblue;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin-left: 10px;

}

.titlediv {
    background-color: rgba(255, 255, 255, 0.1);
    display: block;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    font-size: 50px;
    border-radius: 20px;
} 

.titledp {
    height: 55px;
    border-radius: 30px;
}

.body {
    height: 3260px;
    background-image: url('background.png');
    background-position: center;

}
.search{
   width: 50%;
   height: 30px;
   font-size: 15px;
   float: right;
   margin-top: 10px;
   border-radius: 10px;
   vertical-align:top;
}
.welcome{
    text-align: center;
    font-size: 60px;
    margin-top: 150px;
    opacity: 0.7;
}
.coming{
    text-align: center;
    font-size: 25px;
}
.join{
    position: relative;
    left: 50%;
    top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    cursor: pointer;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.join:hover{
    background-color: rgb(4, 112, 254);
}
.join:active{
    background-color: rgb(17, 255, 0);
}
