.body {
    margin: 0;
    background-color: black;
    margin-bottom: 0;
}

.headerblock {
    display: flex;
    flex-direction: row;
    background-color: #1d1d1d;
    opacity: 0.9;
    height: 45px;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
}

.firstblock {
    margin-left: 50px;
    width: 30px;
    position: relative;
}

.secondblock {
    flex: 1;
    margin-left: 60px;
    margin-right: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Bona Nova SC", Arial, Helvetica, sans-serif;
    color: rgba(255, 255, 255, 0.649);
    font-size: 20px;
}

.thirdblock {
    margin-right: 40px;
    width: 120px;
}

.profilepic {
    width: 30px;
    margin-top: 5px;
    border-radius: 40px;
    cursor: pointer;
}

.searchicon {
    width: 30px;
    margin-left: 40px;
    cursor: pointer;
}

.second1:hover,
.second2:hover,
.second3:hover,
.second4:hover,
.second5:hover {
    color: white;
    cursor: pointer;
}

.second1:active,
.second2:active,
.second3:active,
.second4:active,
.second5:active {
    color: purple;
}

.second1,
.second2,
.second3,
.second5 {
    margin-top: 20px;
    width: 80px;
}

.second4 {
    margin-top: 20px;
    width: 96px;
}

.welcome {
    position: relative;
    top: 60px;
    text-align: center;
    font-family: "Kalnia Glaze", Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 40px;
    opacity: 0.7;
}

.bgprofile {
    position: relative;
    left: 50%;
    top: 200px;
    width: 300px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.bgprofile:hover {
    cursor: pointer;
}

.introduction {
    position: relative;
    left: 50%;
    text-align: center;
    margin-top: 150px;
    color: rgb(212, 212, 212);
    width: 700px;
    font-family: "Edu AU AIC WA NT Hand", Arial, Helvetica, sans-serif;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 150px;
    font-size: 22px;
    display: inline-block;
}

.check {
    margin-left: 100px;
    color: rgb(212, 212, 212);
    font-size: 25px;
    margin-bottom: 50px;
}

.contentblock {
    margin-top: 58px;
}

.quicklink {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
    font-size: 25px;
    font-weight: 700;
    padding-left: 100px;
    background-color: rgb(171, 171, 171);
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    padding-bottom: 100px;
    margin-bottom: -50px;
}

.firsthover {
    opacity: 0;
    position: absolute;
}

.firsthover:hover {
    opacity: 1;
    font-size: 15px;
    background-color: rgba(255, 255, 255, 0.727);
    pointer-events: none;
    white-space: nowrap;
    padding: 1px 5px;
    border-radius: 4px;
    top: 50px;
    left: -45px;
}

.que1 {
    position: relative;
}

a:visited {
    color: rgba(255, 255, 255, 0.649);

}

.secondblock a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.649);
}

.quicklinkflex {
    font-family: sans-serif;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    font-size: 20px;
}

.quicklink1,
.quicklink2,
.quicklink3,
.quicklink4,
.quicklink5 {
    flex: 1;
    width: 120px;

}

.quicklink a {
    text-decoration: none;
    color: rgb(55, 54, 54);
}

.quicklink a:visited {
    color: rgb(55, 54, 54);
}

.quicklink1-ul,
.quicklink2-ul,
.quicklink3-ul,
.quicklink4-ul,
.quicklink5-ul {
    font-size: 20px;
    font-weight: 400;
    color: rgb(55, 54, 54);
    font-family: serif, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif, Arial, sans-serif;
}

.white-block {
    margin-top: 300px;
}

.scrollContainer {
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    scroll-behavior: smooth;
    scrollbar-color: black;
}

.scrollContainer img {
    width: 800px;
    height: 600px;
    margin: 5px 20px;
    object-fit: cover;
}
.trendingScrollBanner{
    color: rgb(167, 167, 167);
    margin-left: 40px;
    font-size: 30px;

}