.second4{
    color: white;
}
.s-men{
    position: relative;
    left: 50%;
    top: 200px;
    transform: translateX(-50%);
}
.s-content{
    margin-bottom: 300px;
}
 .s-aistatus{
    font-size: 30px;
    color: rgb(162, 162, 162);
    margin-left: 280px;
    margin-bottom: 200px;
 }
 .aiphoto{
    position: relative;
    margin-top: 150px;
    margin-left: 200px;
    border: 2px solid rgb(255, 255, 255);;
    border-radius: 5px;

 }
 .s-name{
    font-size: 50px;
    color: rgb(255, 255, 255);
    margin-left: 390px;
    margin-top: -5px;
 }